%img.centered{src: 'http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/5c39e0dc88fe077d72ab22fe943ffd7b0d2f0b6b.png?1403815959'}
%p
  Welcome to the Joyful 12, Lu Sutton Families!

%p
  I am so delighted to be able to give you lifetime membership to my Joyful 12 Vegetable Cooking Program as part of the Joyful 12 School Project.

%p
  To get started with the program, go to
  %a{href:'http://www.joyful12.com'}
    www.joyful12.com
  and login from the upper right corner of the homepage. You can
  also use this link every time you want to use the Joyful 12 to
  cook a new vegetable recipe. All you need to do is locate that vegetable in the classroom, pick a recipe, and include your child in the cooking process. I give tips for how to do this easily on every recipe under the section, "How to get your kids to love" this recipe.

%p
  The Joyful 12 can help you and your family discover, cook, and enjoy
  learning about twelve new vegetables and fruits each season of the
  year. That's a total of 48 seasonal vegetables and fruits and 144
  seasonal recipes! Every Friday, look out for my email letting you
  know which vegetable and fruit is in season that we'll be exploring
  in the Learning Lab together the following week.

%p
  If you have any questions, please feel free to email me anytime at hollie@joyfoodly.com

%p
  If you have not yet filled out our survey, we'd be so grateful
  %a{href:'https://www.surveymonkey.com/s/7S7SCH6'}
    if you'd take five minutes to do this now. 
  = "(<a href='https://www.surveymonkey.com/s/7S5BC9Y'>en espa&ntilde;ol</a>)".html_safe

%em
  Privacy Note: We are not collecting personal private data about our members. Data collected is used solely for the purposes of project implementation, monitoring and evaluation and are entirely anonymous and aggregate level data.

%p
  Yours in fun and tasty kitchen adventures,

%p
  Chef Hollie Greene
