<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Joyfoodly</title>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<div class='container'>

  <center>
    <%= image_tag 'under_construction/construction.png', alt: 'Under Construction', style: 'margin-top: 130px;' %>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </center>

</div>

<%= render 'layouts/tracking' %>

</body>
</html>
