
<div class='row'>

  <div class="col-lg-3 col-md-6 col-md-offset-1 col-xs-6 bottom-padding">
      <img class='wiggle centered' alt="Greens" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/b7a1fd37db8bb577f7633af9603aeb8ee619adf7.png?1403810974"/>
  </div>

  <div class="col-lg-2 col-md-6 hidden-xs bottom-padding">
      <img class='wiggle centered' alt="Radish" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/a823a3918d5f7f564ee8f4967ca439a4c881cb1c.png?1403813561"/>
  </div>

  <div class="col-lg-2 col-md-6 hidden-xs bottom-padding">
      <img class='wiggle centered' alt="Spinach" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/04f1e29f80de20fd134c968f470ef9b398fc55c6.png?1403813588"/>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-6 bottom-padding">
    <img class='wiggle centered' alt="Tomato" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/a835ae833d367fc97b51a9041f0c45e76c43aa08.png?1403811155"/>
  </div>
</div>
<div class="row">

   <h1 class="text-center">Aw Rutabaga!</h1>
   <h4 class="text-center">You don’t have access to this season, but we’d sure love for you to join us. </h4>

  <div class="thumbnail thumbnail-border-sharp col-md-2 col-md-offset-1 hidden-xs">
    <img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/95b1e15e902372b3df0a19bd15c1e2059657258a.jpg?1403812900" />
  </div>
  <div class="thumbnail thumbnail-border-sharp col-md-2 margin-left hidden-xs">
    <img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/41c02b03864296181c3582226694ad871b3241d9.jpg?1403813308" />
  </div>
  <div class="thumbnail thumbnail-border-sharp col-md-2 margin-left hidden-xs">
    <img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/6b307e255910ce65bba900d2b98400f0260e2299.jpg?1403813327" />
  </div>
  <div class="thumbnail thumbnail-border-sharp col-md-2 margin-left hidden-xs">
    <img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/8226a016c51a665df2926fe0ae26ee75c7dd7524.jpg?1403813347" />
  </div>
  <div class="thumbnail thumbnail-border-sharp col-md-2 margin-left hidden-xs">
    <img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/e0da9f31046cd58ed16f08b985648e77f538802d.jpg?1403813365" />
  </div>

</div>

<div class="spacer"></div>

<% if flash[:notice].present? %>
    <h3 class="text-danger"><%= flash[:notice] %></h3>
<% end %>




<% if @unpurchased_seasons.empty? %>
  <h2>You seem to have access to all seasons!</h2>

<% else %>

    <h3 class="text-center">Upgrade Coming Soon</h3>

    <div class="spacer"></div>

<% end %>


<div class="spacer"></div>
<div class="spacer"></div>

<div class="text-center col-md-6 col-md-offset-3">
  <em>Note: Fall and Winter are coming soon! If you sign up for those seasons now, you'll automatically get access later in the year.</em>
</div>

  <div class="spacer"></div>
  <div class="spacer"></div>
<div class="row"></div>
<div class="spacer"></div>
<div class="spacer"></div>
