<h1>Parent Resources</h1>

<p>Extra resources for the program</p>




<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/spring-schedule-joyful12.png" alt="Spring Schedule">
      <div class="caption">
        <h3>Recommended Schedule for Spring</h3>
        <p>View and print the recommended schedule for the spring Joyful 12!</p>
        <p><a href="https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/Joyful12-Spring-Schedule.pdf" class="btn btn-primary" role="button">printable</a> <a href="/class_schedule" class="btn btn-default" role="button">online version</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail fixed-height">
      <img src="https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/pantry-essentials.png" alt="Gluten Free Pantry Essentials">
      <div class="caption">
        <h3>Gluten Free Pantry Essentials</h3>
        <p>Not sure how to build up a convenient kitchen? Use this document as a guide to stocking your pantry, and you'll be ready for dinner any day of the week!</p>
        <p><a href="https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/Pantry-Essentials-final.pdf" class="btn btn-primary" role="button">printable</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/spring-bingo.png" alt="Spring Bingo">
      <div class="caption">
        <h3>Joyful 12 Spring Bingo</h3>
        <p>Use these bingo boards to keep track of your progress and have some fun!</p>
        <p><a href="https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/Joyful12-Spring-bingo.pdf" class="btn btn-primary" role="button">printable</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/coloring-pages-joyful12.png" alt="Spring Bingo">
      <div class="caption">
        <h3>Joyful 12 Coloring Pages</h3>
        <p>Use a rainbow of colors and learn some fun facts about fruits and veggies!</p>
        <p><a href="https://s3-us-west-2.amazonaws.com/joyful12/parent-resources/coloring-pages.pdf" class="btn btn-primary" role="button">printable</a></p>
      </div>
    </div>
  </div>
</div>

<h2>Video Resources</h2>

<h2>Quick Links</h2>
<div class="col-md-6">
<button type="button" class="btn btn-primary btn-lg btn-block">View the shopping list</button>
<button type="button" class="btn btn-default btn-lg btn-block">View your profile</button>
<button type="button" class="btn btn-warning btn-lg btn-block">Go back to the classroom</button>
</div>



<div class="row">
  <% @video_links.each do |video_link| %>
    <div class="col-md-4 bottom-buffer">
      <div class="thumbnail">
        <%= content_tag(:iframe, '', width: '100%', height: 250, frameborder: 0, allowfullscreen: true,
                        src: "//www.youtube.com/embed/#{video_link.provider_id}?rel=0") %>
        <div class="caption">
          <h3><%= video_link.name %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
