<div class="page-header">
  <h3 id="shopping-lists">Current Shopping List</h3>
</div>

<% if @current_shopping_list.present? %>
  <%= render partial: 'shopping_list_panel', locals: { shopping_list: @current_shopping_list } %>
<% else %>
  <!-- if there's no current shopping list -->
  <div class='row'>
    <div class="col-md-6">
      <p> You don't have a current shopping list yet. Create one! </p>
      <%= link_to 'Create a Shopping List', shopping_list_path('current/edit'), class: 'btn btn-warning btn-lg btn-block' %>
    </div>
  </div>
<% end %>

<div class="page-header">
  <h3 id="shopping-lists">Saved Shopping Lists</h3>
</div>

<% if @saved_shopping_lists.present? %>
  <% @saved_shopping_lists.each do |shopping_list| %>
    <%= render partial: 'shopping_list_panel', locals: { shopping_list: shopping_list } %>
  <% end %>
<% else %>
  <div class='row'>
    <div class="col-md-6">
      <p> You don't have any saved shopping lists. </p>
    </div>
  </div>
<% end %>

<%= render 'onboarding_modal' unless @user.onboarded %>
