<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">My Profile</h3>
  </div>
  <div class="panel-body">
    <p class='user_email'>Email: <%= @user.email%></p>
    <p class='user_first_name'>First Name: <%= @user.first_name %></p>
    <p class='user_last_name'>Last Name: <%= @user.last_name %></p>
    <p class='user_zip_code'>ZIP Code: <%= @user.zip_code %></p>
  </div>
</div>
