<div id="coupon_form" class="form-group">
  <div class="row">
    <div class="col-xs-8">
      <label>Promo Code (Optional)</label>
      <input id="coupon_value" type="text" class='form-control'>
    </div>
    <div class="col-xs-3">
      <button id="coupon_button" class="btn btn-primary coupon-button">Apply</button>
    </div>
  </div>
</div>
