<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300' rel='stylesheet' type='text/css'>

  <title>The Joyful 12! from JoyFoodly</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- social media meta data -->
  <title>The Joyful 12! is a kitchen learning lab for families.</title>
  <meta name="description" content="Join me in the Joyful 12 Kitchen Learning Lab! Chef Hollie Greene teaches families, like us, how to cook and eat more vegetables and fruits each season. Gluten free and allergen friendly, with videos to teach you everything you need to know--from getting your child to love trying veggies--to fun ways to prep summer squash!" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@joyfoodly">
  <meta name="twitter:title" content="Joyful 12! a Kitchen Learning Lab for Families.">
  <meta name="twitter:description" content="Join me in the Joyful 12 Kitchen Learning Lab! Learn from Chef Hollie and get
  your family excited about fruits and veggies.">
  <meta name="twitter:creator" content="@joyfoodly">
  <!-- Twitter Summary card images must be at least 200x200px -->
  <meta name="twitter:image" content="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/b5c35398f6cc29d33f3c933bd3de215b98175c5a.png?1404031203">

  <!-- Open Graph data -->
  <meta property="og:title" content="The Joyful 12!" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.joyful12.com" />
  <meta property="og:image" content="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/b5c35398f6cc29d33f3c933bd3de215b98175c5a.png?1404031203" />
  <meta property="og:description" content="Join me in the Joyful 12 Kitchen Learning Lab! Chef Hollie Greene teaches families, like us, how to cook and eat more vegetables and fruits each season. Gluten free and allergen friendly, with videos to teach you everything you need to know--from getting your child to love trying veggies--to fun ways to prep summer squash!" />
  <meta property="og:site_name" content="The Joyful 12!" />
  <meta property="fb:admins" content="160343853979962" />
</head>
