<div class='form-signup-photo hidden-xs hidden-sm'>
  <p>We're passionate about helping parents feel good about the food they feed their kids and
    helping families celebrate the JOY of mealtime together.<p>
</div>
