<h1>Almost there!</h1>
<p>Check your email for our welcome email with further instructions</p>

<img class="thumbnail thumbnail-border-sharp" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/thumbnail/fedb83a05405bccdf7ed7164fdbf5110ef7071c7.png?1403848978" />
