<h1 class="text-center">Almost there!</h1>
<p class="large-text text-center">Please take a moment to <a href='https://www.surveymonkey.com/s/7S7SCH6'>fill in our survey</a></p>
<p class="large-text text-center">Favor de tomar un momento para <a href='https://www.surveymonkey.com/s/7S5BC9Y'>llenar nuestra encuesta</a> en espa&#241;ol</p>
<p class='fineprint-text'>Privacy Notice: The Joyful 12 School Project is not collecting personal private data about its members. Data collected is used solely for the purposes of project implementation, monitoring and evaluation; and are entirely anonymous and aggregate level data.</p>

<ul class="nav row">
  <li class="col-md-1 col-md-offset-2">
    <img alt="spinach" class="img-responsive wiggle hidden-xs" height="101" src="/assets/nav-food-images/spring-spinach-f109b6321abc4f9c80b071e19e8ce2b2.png" width="68">
  </li>
  <li class="col-md-1">
    <img alt="greens" class="img-responsive wiggle hidden-xs" height="101" src="/assets/nav-food-images/summer-greens-ce67f3a1a8b3b270cff6129087f4162a.png" width="68">
  </li>
  <li class="col-md-1">
    <img alt="potato" class="img-responsive wiggle hidden-xs" height="101" src="/assets/nav-food-images/spring-potato-c481106edd51da9f6acd6a90a2abc41a.png" width="68">
  </li>
  <li class="col-md-1">
    <img alt="peas" class="img-responsive wiggle hidden-xs" height="101" src="/assets/nav-food-images/spring-peas-ae8dde80021fa80a81bf28a286f4111d.png" width="68">
  </li>
  <li class="col-md-1">
    <img alt="summer squash" class="img-responsive wiggle hidden-xs" height="101" src="/assets/nav-food-images/summer-squash-81694469ee7dc4edadee9f592f764d90.png" width="68">
  </li>
  <li class="col-md-1">
    <img alt="strawberry" class="img-responsive wiggle hidden-xs" height="101" src="/assets/nav-food-images/spring-strawberry-cabc81d611d62123fef24b6a082dd3ed.png" width="68">
  </li>
  <li class="col-md-1">
    <img alt="eggplant" class="img-responsive wiggle hidden-xs" height="101" src="/assets/nav-food-images/summer-eggplant-3815c31d5ec18e83e2dd8bb6ee1229e9.png" width="68">
  </li>
  <li class="col-md-1">
    <img alt="pepper" class="img-responsive wiggle hidden-xs" height="101" src="/assets/nav-food-images/summer-pepper-c2e3ee0b2bfd100a79052fa51b66ea41.png" width="68">
  </li>
</ul>

<div class="col-xs-12 hidden-md hidden-lg hidden-xl">
<img alt="greens" class="wiggle centered" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/bbad62625cf58b33b3cd0aece555063132c0f985.png?1403730648" width="68">
</div>


<div class="row">
<h3>
<ol class="col-md-5 col-md-offset-4 col-xs-8 col-xs-offset-4">
  <li>Check Your Email For A Confirmation Link</li>
  <br />
  <li>Click The Link To Confirm Your Account</li>
  <br />
  <li>Start Cooking!</li>
</ol>
</h3>
</div>

