<h1>Almost there!</h1>
<p>Check your email for our welcome email with further instructions</p>

<img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/daec9fc8e1b651f9b85ebdc09e218488c25ee1ba.png?1394253981" />
