<div class='row'>
  <div class='col-md-12'>
    <iframe class="centered" width="998" height="749" src="//www.youtube.com/embed/--9dU-MdmC4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class='row bottom-buffer'>
  <div class='col-md-12 text-center'>
    <h1>NOW YOU'RE READY TO GET STARTED!</h1>
  </div>
</div>

<div class="row">
  <div class='col-md-3 col-md-offset-1 text-right'>
    <h3>Pick a Veggie or Fruit!</h3>
  </div>
  <div class='col-md-1'>
    <img src="http://joyful12.s3.amazonaws.com/pages/media/original/071c650d52f36735e7100ad4870d033ccef37215.png?1393192181" />
  </div>
</div>

<div class='row'>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-spinach">
      <img class='wiggle centered' alt="Spinach" src="http://joyful12.s3.amazonaws.com/pages/media/original/74b19e03d61793fa718acf4ec32b7abc7a887540.png?1393190881"/>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-potato">
      <img class='wiggle centered' alt="Potato" src="http://joyful12.s3.amazonaws.com/pages/media/original/1bc4fa142945996320e2bcdef8b0041a7172373d.png?1393190717"/>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-fennel">
      <img class='wiggle centered' alt="Fennel" src="http://joyful12.s3.amazonaws.com/pages/media/original/3989e69afdc0cfd978038adfab57522a5a8bb1c3.png?1393190684"/>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-avocado">
      <img class='wiggle centered' alt="Avocado" src="http://joyful12.s3.amazonaws.com/pages/media/original/38d98f426d032c12fdce36e80ef139cc1bfe7096.png?1393191407"/>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-asparagus">
      <img class='wiggle centered' alt="Asparagus" src="http://joyful12.s3.amazonaws.com/pages/media/original/24a47ef480f4a2b7f2389e90ae08b3972b8a2b80.png?1393191397"/>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-radish">
      <img class='wiggle centered' alt="Radish" src="http://joyful12.s3.amazonaws.com/pages/media/original/eff0983b858a17f01d417136ca3ead683f9195b4.png?1393191428"/>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-green-onion">
      <img class='wiggle centered' alt="Green Onion" src="http://joyful12.s3.amazonaws.com/pages/media/original/06fd830cd01042b609f2d3b38dd9ff7581abcbb0.png?1393191416"/>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-rhubarb">
      <img class='wiggle centered' alt="Rhubarb" src="http://joyful12.s3.amazonaws.com/pages/media/original/2be9b1651bd08f67ec0dd489e5e038ef83f4b71f.png?1393190871"/>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-peas">
      <img class='wiggle centered' alt="Peas" src="http://joyful12.s3.amazonaws.com/pages/media/original/278743e20321a74eafc3066f8a9eaac5ca6ef32e.png?1393190708"/>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-artichoke">
      <img class='wiggle centered' alt="Artichoke" src="http://joyful12.s3.amazonaws.com/pages/media/original/17ee43801a164d4054c8fa00b14e3bff47842199.png?1393191385"/>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-greens">
      <img class='wiggle centered' alt="Greens" src="http://joyful12.s3.amazonaws.com/pages/media/original/c78bc65cfb1168dfc57a050f202f67f67a52d791.png?1393190694"/>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 bottom-padding">
    <a href="/foods/spring-strawberry">
      <img class='wiggle centered' alt="Strawberry" src="http://joyful12.s3.amazonaws.com/pages/media/original/c369d1eff3b6b47ecabe644fb6f4765eccdd35f1.png?1393191449"/>
    </a>
  </div>


</div>
