<ul class='row home-food-links'>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
  <li class='col-lg-4 col-md-6 col-xs-12'><img src="http://placekitten.com/320/200" /></li>
</ul>
