<div class='row'>
  <div class='col-md-12'>
    <%= image_tag 'homepage-images/homepage-video.jpg', class: 'img-responsive homepage-image' %>
  </div>
</div>

<div class='row bottom-buffer'>
  <div class='col-md-12'>
    <%= image_tag 'homepage-images/homepage-getstarted.png', class: 'img-responsive homepage-image' %>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <%= image_tag 'homepage-images/homepage-pickaveggie.png', class: 'img-responsive' %>
  </div>
</div>

<div class='row'>
  <div class='home-food-links'>
    <span class='col-lg-4 col-md-6 col-xs-12 broccoli'></span>
    <a href="<%= food_path('cauliflower') %>"><span class='col-lg-4 col-md-6 col-xs-12 cauliflower'></span></a>
    <span class='col-lg-4 col-md-6 col-xs-12 tangerine'></span>
    <span class='col-lg-4 col-md-6 col-xs-12 cabbage'></span>
    <span class='col-lg-4 col-md-6 col-xs-12 apple'></span>
    <span class='col-lg-4 col-md-6 col-xs-12 pomegranate'></span>
    <span class='col-lg-4 col-md-6 col-xs-12 beet'></span>
    <span class='col-lg-4 col-md-6 col-xs-12 carrot'></span>
    <span class='col-lg-4 col-md-6 col-xs-12 fennel'></span>
    <span class='col-lg-4 col-md-6 col-xs-12 sweetpotato'></span>
    <span class='col-lg-4 col-md-6 col-xs-12 wintersquash'></span>
    <span class='col-lg-4 col-md-6 col-xs-12 collard'></span>
  </div>
</div>
