<ul class='row home-food-links'>
  <li class='col-lg-4 col-md-6 col-xs-12 broccoli'></li>
  <a href="<%= food_path('cauliflower') %>"><li class='col-lg-4 col-md-6 col-xs-12 cauliflower'></li></a>
  <li class='col-lg-4 col-md-6 col-xs-12 tangerine'></li>
  <li class='col-lg-4 col-md-6 col-xs-12 cabbage'></li>
  <li class='col-lg-4 col-md-6 col-xs-12 apple'></li>
  <li class='col-lg-4 col-md-6 col-xs-12 pomegranate'></li>
  <li class='col-lg-4 col-md-6 col-xs-12 beet'></li>
  <li class='col-lg-4 col-md-6 col-xs-12 carrot'></li>
  <li class='col-lg-4 col-md-6 col-xs-12 fennel'></li>
  <li class='col-lg-4 col-md-6 col-xs-12 sweetpotato'></li>
  <li class='col-lg-4 col-md-6 col-xs-12 wintersquash'></li>
  <li class='col-lg-4 col-md-6 col-xs-12 mushroom'></li>
</ul>
