.rootpage
  .row.navrow
    .col-xs-4
      = image_tag "joyful12logo.png", class: 'img-responsive logoimage'
    .col-xs-2
      %input.textinput{placeholder: 'Email'}  
    .col-xs-4
      %input.textinput{placeholder: 'Password', style: 'display: inline'}  
      %span.signin-box
        SIGN IN
  .row.herorow

  .row.section
    .col-xs-12
      .center-div.large-text
        MAIN FEATURES

  .row
    .col-xs-12
      .center-div.blueline

  .row.section
    .center-div
      I name the dog Fido.

      That taxi driver found the box empty.

      We called her "the selfish store clerk".

      I called him "the scientist".

      Ms. Brown named the dog Fido.

  .section.bottom-buffer
    .row    
      .col-xs-3.offset-15.examplebox
      .col-xs-3.examplebox
      .col-xs-3.examplebox
    .row
      .col-xs-3.offset-15.examplebox
      .col-xs-3.examplebox
      .col-xs-3.examplebox
                    
  .row.section.bottom-buffer
    .center-div.holliebox
      Learn more about Joyfoodly and Chef Hollie! 

