<img src="http://joyful12.s3.amazonaws.com/pages/media/original/df89d010118df2cd0c881b0a84ec83ff66935e70.png?1393189180"/>

<h3 class="text-center">Aw Shucks! Summer and Fall aren't available yet.</h3>
<h4 class="text-center">(but you'll be the first to know when they are!)</h4>
<img class="centered top-padding" alt="spinach-threeways" src="http://www.joyfoodly.com/wp-content/uploads/2014/01/spinach-threeways.png" />

<div class="spacer"></div>
<div class="page-sub-header text-center">
  <h2 class="dotted">Summer/Fall 2014 Seasons</h2>
</div>
<div class="row col-md-8 col-md-offset-2 bg-grey general-padding">
  <h3 class="text-center no-buffer">Coming later this year</h3>
  <p>As a Beta member, you'll be the first to know when we launch more seasons. You'll also receive 20% off the cost,
    just because we like you so much!</p>
  <div class="col-md-8 col-md-offset-2">

  </div>
</div>


<div class="page-sub-header text-center">
  <h2 class="dotted">Quick Links</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <a href="/classroom" class="btn btn-primary btn-lg btn-block">Go Back to the classroom</a>
  </div>
  <div class="col-md-4">
    <a href="/parent_resources" class="btn btn-default btn-lg btn-block">View Parent Resources</a>
  </div>
  <div class="col-md-4">
    <a href="/pages/orientation" class="btn btn-warning btn-lg btn-block">Go Back to Orientation</a>
  </div>
</div>