<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Recipe: <%= @recipe.title %></title>
</head>
<body>

    <p>
      <% if @recipe.images.first %>
        <%= image_tag @recipe.images.first.file.url(:gallery) %>
      <% end %>
    </p>

    <p>
      Do you have any questions or comments about this recipe? Do you have a photo to share? Comment below.
    </p>

    <h2>
      <%= link_to 'RETURN TO RECIPE', "#{food_url(@food, protocol: 'https')}##{@recipe.slug}",
                  style: 'background-color: grey;' %>.
    <h2>

</body>
</html>
