%p
  Welcome to the Joyful 12, Lu Sutton Families!

%p
  I am so delighted to be able to give you lifetime membership to my Joyful 12 Vegetable Cooking Program as part of the Joyful 12 School Project.

%p
  To get started with the program, go to
  %a{href:'http://www.joyful12.com'}
    www.joyful12.com
  and login from the upper right corner of the homepage. You can
  also use this link every time you want to use the Joyful 12 to
  cook a new vegetable recipe.

%p
  During March, we are asking all Lu Sutton children, their
  families,and their teachers to cook one new vegetable with us each
  week for our "Eat Green Challenge." All you need to do is locate that
  vegetable in the classroom, pick a recipe, and include your child in
  the cooking process. I give tips for how to do this easily on every
  recipe under the section, "How to get your kids to love" this recipe.

%p
  March 2-8: Brussels spouts (Winter classroom)
  %br
  March 9-15: Asparagus (Spring classroom)
  %br
  March 16-22: Spinach and spring greens (Spring classroom)
  %br
  March 23-29: Peas (Spring Classroom)

%p
  If you have any questions, please feel free to email me anytime!

%p
  hollie@joyfoodly.com

  If you have not yet filled out our survey, we'd be so grateful
  %a{href:'https://www.surveymonkey.com/s/7S7SCH6'}
    if you'd take five minutes to do this now. 
  = "(<a href='https://www.surveymonkey.com/s/7S5BC9Y'>en espa&ntilde;ol</a>)".html_safe

%em
  Privacy Note: We are not collecting personal private data about our members. Data collected is used solely for the purposes of project implementation, monitoring and evaluation and are entirely anonymous and aggregate level data.

%p
  %em
    Yours in fun and tasty kitchen adventures,

%p
  Chef Hollie Greene
