<div class="modal fade modal-auto-open" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">


      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="text-center">Before diving into the classroom...</h2>
        <h3 class="text-center top-buffer">first make a stop by the Community Forum</h3>
        <p class="text-center top-buffer"> Just click on the button to get started. The Forum will let you make and read
          comments on recipes, create your profile and connect with other families in the Learning Lab.</p>

        <div class="text-center">
          <p>
            <a href="https://community.joyful12.com/" class="btn btn-primary ">Visit the Forum</a>
            <a data-dismiss="modal" href="#">No, thanks</a>
          </p>
        </div>

        <div class="top-buffer"></div>
        <div class="top-buffer"></div>



      </div>
    </div>
  </div>
</div>