<div class="text-center bottom-padding">
<h3>Great, you've been added to the waitlist!</h3>
<h4>In the meantime, why don't you check out all the free content at <a href="http://www.joyfoodly.com/blog">JoyFoodly</a>?</h4>
</div>
<div class="row">
  <div class="col-md-12 text-center bottom-buffer">
    <img class="right-padding-small" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/95ca0a46d581f69994641dead1fc25d892cda0f3.png?1393801004" />
    <img class="right-padding-small" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/769b4937835dcf6c6e38dd2baa4eb9608f51201a.png?1393801026" />
    <img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/789a7f807892380df1f221ffe0763be5abff67f5.png?1393801037" />
  </div>
  <div class="col-md-12 text-center bottom-padding">
    <img class="right-padding-small" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/5889b8e78d3c6ca218a6503927643f77a02a3e20.png?1393801347" />
    <img class="right-padding-small" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/7d762b9bc88fc83ccecb2a2e2490d9e45a6cae51.png?1393801426" />
    <img src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/52a66f7cae0153ed0e03fdd196d0e57bf4221d6a.png?1393801441" />
  </div>
</div>
<div class="row">
<div class="col-md-4 col-md-offset-2">
  <a href="http://www.joyfoodly.com" class="btn btn-primary btn-lg btn-block">Visit JoyFoodly</a>
</div>
<div class="col-md-4">
  <a href="http://www.joyfoodly.com/blog" class="btn btn-default btn-lg btn-block">Visit the JoyFoodly Blog</a>
</div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>