.table > thead > tr > th {
  font-size: 20px;
}

.table > tbody > tr > th {
  font-size: 16px;
}

.in.collapse+a.btn-primary.showdetails:before {
  content:'View Less Videos «';
}

.collapse+a.btn-primary.showdetails:before{
  content:'View More Videos »';
}

.season-name {
  font-size:21px;
}

.season-name:hover {
  background-color: whitesmoke;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #4196b4;
}
