@import 'variables';
.signup_button {
	font-style: normal;
	font-weight: bold;
}

#tour {
	padding-bottom: 50px;
}
.rootpage {
	#zero-price-button {
		cursor: pointer;
	}
	
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: $font-grey;

	.xs-remove-buffer {
		@media (max-width: 500px) {
			margin-top: 0px;
		}
	}

	.messagerow {
		margin-bottom: 10px;
	}
	font-size: 18px;


	.navrow {
		margin-top: 5px;
		height: 50px;
		background: white;
		padding-bottom: 70px;
		font-size: 0.8em;

		#loginbox {
			@media (max-width: 500px) {
				margin-top: 70px;
				clear: both;
				display:hidden;
			}
		}
		#hamburger_icon {
			height: 80px;
			width: 120px;
		}

		.logoimage {
			max-height: 50px;
			margin-top: 15px;
		}
		.forgot-password, .forgot-password a, .forgot-password a:hover {
			color: $font-grey;
			font-size: 0.9em;
			margin-top: 5px;
		}

		.textinput {
			width: 50%;
			margin-right: 5px;
			background: $inputbox-light-color;
			padding: 10px;
			border: solid 1px $inputbox-dark-color;
			transition: box-shadow 0.3s, border 0.3s;

			&:focus,
			&.focus {
				border: solid 1px $inputbox-dark-color;
				border-radius: 5px;
				box-shadow: 0 0 5px 1px $orange-light-color;
			}
		}

		#signin-box {
			display: inline-block;
			cursor: pointer;
			padding: 10px;
			background-color: $lightblue-color;
			color: white;
			width: 75px;
			border-radius: 5px;
			margin: auto 0px auto 20px;
			text-align: center;
		}
	}

	.herorow {
		@media (min-width: 768px) {
			height: 475px;
		}

		p {
			padding-bottom: 5px;

		}
		background: $lightblue-color;
		padding: 20px 0 40px;

		color: white;

		.leftherocolumn {
			@media (min-width: 768px) {
				height: 100%;
			}
			position: relative;
		}

		.leftherocolumntext {
			top: 15%;
			height: 50%;
			@media (min-width: 768px) {
				position: absolute;
			}
			@media (max-width: 768px) {
				text-align: center;
			}
			margin-bottom: auto;
			margin-left: 20%;
			padding-right: 15%;
			
		}
		.vertical-third {
			height: 33%;
		}
		.titletext {
			margin-bottom: 20px;
			font-size: 1.5em;
		}
		.heroimage {
			margin-top: 50px;
			height: 300px;
		}
		.rightcolumntext {
			position: relative;
		}
		.price_circle {
			height: 80px;
			width: 80px;
			position: absolute;
			left: 50%;
			margin-left: 20%;
			top: 0%;
			background-color: $orange-light-color;
			color: white;
			font-size: 1.3em;
			border-radius: 50%;
			text-align: center;
		}
		.bubble-third-middle {
			top: -5px;
			position: relative;
		}
		.signupbox {
			margin-top: 20px;
			padding: 10px;
			cursor: pointer;
			width: 80%;
			max-width: 400px;

			border-radius: 5px;
		}

		@media (max-width: 550px) {
			font-size: 1.5em;			
			
			.titletext {
				text-align: center;
			}
			.heroimage {				
				height: 90px;
			}
			font-size: 1em;
		}
	}

	.feature-title {
		font-size: 1.5em;
		text-transform: uppercase;
	}
	button {
		border: 0;
		box-shadow: none;
	}
	.giftcard {
		background-color: $lightblue-color;
		padding: 10px 0px;
		border-radius: 10px;
		color: white;
		.form-control {
			border: 1px solid $font-grey;
		}
		box-shadow: 5px 5px rgba(0, 0, 0, 0.05);
		max-width: 500px;
	}
	.stripe-button-el {
		display: inline-block;
		background-image: none;
		box-shadow: none;
		padding: 10px;
		background-color: $orange-light-color;
		margin-top: 20px;
		width: 60%;
		@media (max-width: 967px) {
			width: 80%;
		}
		@media (max-width: 768px) {
			width: 60%;
		}

		@media (max-width: 450px) {
			min-height: 40px;
		}
		
		letter-spacing: 1px;
		box-shadow: 0px 3px rgba(0, 0, 0, 0.07);
		span {
			display: inline-block;
			font-size: inherit;
			font-family: inherit;
			border-color: inherit;
			border: 0;
			box-shadow: none;
			text-shadow: none;
	
			border-radius: 0;
			background: none;
			background-image: none;
			background-color: $orange-light-color;
			padding: none;
		}
	}
	.section {
		margin: 30px 0px;
	}

	

	.orangebg {
		background-color: $orange-light-color;
	}

	.holliebox {
		border-radius: 6px;
		border: 3px $lightblue-color solid;
		color: $lightblue-color;
		padding: 10px;
	}

	.center-div {
		margin: auto;
		text-align: center;
	}
	.limited-width {
		max-width: 50%;
		@media (max-width: 768px) {
			max-width: 75%;
		}
	}

	.blueline {
		border-radius: 3px;
		background-color: $lightblue-color;
		height: 4px;
		width: 12.5%;
		margin-top: 15px;
		box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08)
	}


	.offset-15 {
		margin-left: 12.48%;
	}

	.featurebox {
		// Undoing the effects of Bootstrap just a little for this div
		padding: 0;

		.box-image {
			max-height: 75px;
			max-width: 75px;
			margin-right: 5px;
			border-radius: 50%;
			box-shadow: 0px 4px rgba(0,0,0,0.05);
			border: 5px solid $buttongray; 
			@media (max-width: 980px) and
			(min-width: 500px) {
				left: 20px;
				position: relative;
			}
		}
		.box-header {
			margin-bottom: 20px;

		}

		.box-text {
			@media (max-width: 500px) {
				margin-bottom: 10px;
			}
		}
	}
	.second-col-arrange {
		@media (max-width: 768px) {
			margin-top: 10px;
			float: left;
		}
	}

	.giftrow {
		background-color: #E0EBEB;
		background-image: url(asset-path('joyfoodly-veggie-bg.png'));
		background-size: 200px 121px;
		.stripe-button-el {
			margin-top: 20px;
			padding: 5px;
		}

		.gift-icon-box {
			background-color: white;
			border-radius: 50%;
			padding: 30px;
			display: inline-block;
		}
		padding-bottom: 20px;
	}

	.footerrow {
		background-color: $lightblue-color;
		a {
		  color: black;
		  text-decoration: underline;
		}
	}

	.social-icon {
		display: inline-block;
		height: 57px;
		width: 57px;
		background-color: transparent;
	}
}

.gift-div {
  position: absolute;
  margin-top: 1%;
  right: 20%;
  color: white;
}

.gift {
  color: white;

  &:hover {
    color: white;
  }
}
