@import 'variables';
.rootpage {
	color: $fontgray;
	font-size: 18px;

	.navrow {
		margin-top: 5px;
		height: 50px;
		background: white;
		padding-bottom: 60px;
		font-size: 0.8em;

		.logoimage {
			max-height: 50px;
		}

		.textinput {
			width: 50%;
			background: $inputbox-light-color;
			padding: 10px;
			border: solid 1px $inputbox-dark-color;
			transition: box-shadow 0.3s, border 0.3s;

			&:focus,
			&.focus {
				border: solid 1px $inputbox-dark-color;
				border-radius: 5px;
				box-shadow: 0 0 5px 1px $orange-light-color;
			}
		}

		#signin-box {
			display: inline-block;
			cursor: pointer;
			padding: 4px;
			background-color: $lightblue-color;
			color: white;
			width: 75px;
			border-radius: 5px;
			margin: auto 0px auto 20px;
			text-align: center;
		}
	}

	.herorow {
		height: 475px;
		background: $lightblue-color;
		@media (min-width: 450px) {
			font-size: 1.5em;			
		}
		@media (max-width: 450px) {
			font-size: 1em;
			height: 275px;
		}
		color: white;

		.vertical-third {
			height: 33%;
		}
		.heroimage {
			margin-top: 50px;
			max-height: 300px;
		}

		.signupbox {
			margin-top: 20px;

			padding: 10px;
			@media (max-width: 1440px) {
				width: 50%;
			}
			@media (max-width: 840px) {
				width: 80%;
			}
			@media (max-width: 490px) {
				width: 95%;
			}

			cursor: pointer;
		}
	}

	button {
		border: 0;
		box-shadow: none;
	}
	.stripe-button-el {
		background-image: none;
		box-shadow: none;
		padding: 0;
		background-color: $orange-light-color;
		@media (max-width: 585px)
		and (min-width: 450px) {
			height: 100px;
		}
		span {
			@media (max-width: 585px)
			and (min-width: 450px)  {
				height: 50px;
			}

			min-height: 40px;
			font-size: inherit;
			font-family: inherit;
			border-color: inherit;
			border: 0;
			box-shadow: none;
			padding: 0;
			border-radius: 0;
			background: none;
			background-image: none;
			background-color: $orange-light-color;
			padding: none;
		}
	}
	.section {
		margin-top: 20px;
	}

	

	.orangebg {
		background-color: $orange-light-color;
	}

	.holliebox {
		border-radius: 6px;
		border: 3px $lightblue-color solid;
		color: $lightblue-color;
		padding: 10px;
	}

	.center-div {
		margin: auto;
		text-align: center;
	}
	.limited-width {
		max-width: 50%;
	}

	.blueline {
		border-bottom: $lightblue-color solid 10px;
		width: 12.5%;
	}


	.offset-15 {
		margin-left: 12.48%;
	}

	.featurebox {
		.box-image {
			max-height: 75px;
			max-width: 75px;
			margin-right: 5px;
			border-radius: 50%;
			border: 5px solid $buttongray; 
		}
		.box-header {
			margin-bottom: 20px;

		}
	}

	.giftrow {
		background-color: #E0EBEB;
		.stripe-button-el {
			margin-top: 20px;
			padding: 5px;
		}
	}

	.footerrow {
		background-color: $lightblue-color;
	}

	.social-icon {
		display: inline-block;
		height: 57px;
		width: 57px;
		background-color: transparent;
	}
}