@import "bootstrap_app_config";
/******************************************************
UTILITY CLASSES

Helpful styles that are not app or bootstrap specific.
******************************************************/

.text-align-top {
  vertical-align: top;
}

.top-buffer {
  margin-top: 20px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

.no-buffer {
  margin-top: 0;
  padding-top: 0;
}

.top-padding {
  padding-top: 30px;
}

.bottom-padding {
  padding-bottom: 30px;
}

.general-padding {
  padding: 30px;
}

.general-padding-small {
  padding: 5px;
}

.right-padding-small {
  padding-right: 5px;
}

.bottom-padding-small {
  padding-bottom: 5px;
}

.spacer {
  margin-bottom: 30px;
}

.centered {
  display: block;
  margin: 0 auto;
}


/************************************************************
APP SPECIFIC SETTINGS

Specific colors, image backgrounds, customized widgets, etc.
************************************************************/

// BG colors
.bg-grey {
  background-color: whitesmoke;
}

.bg-white {
  background-color: white;
}

// Blue headers
.header-blue {
  text-transform: uppercase;
  padding: 12px;
  margin-top: 0;
  letter-spacing: 2.5px;
  font-weight: 600;
  font-size: 40px;
  background-color: #4196b4;
  color: white;
  border-radius: 5px;
}

// Alert customizations
.alert {
  font-weight: 600;
  letter-spacing: 1.2px;
  font-size: 18px;

  .close {
    font-size: 27px;
    line-height: .9;
    color: white;
    text-shadow: none;
    opacity: 1;
  }
}

// Nav customizations
.navbar-raised {
  margin-top: -$navbar-margin-bottom * 2;
}

// Panel customizations
.panel-title {
  font-size: 26px;
}

// Page sub-header customizations
.page-sub-header h2 {
  margin-bottom: 15px;
  font-size: 23px;
  color:#b2b2b2;
}

// Custom image and text nav.
nav a.image-text-link {
  padding: 0;

  &:hover {
    background-color: transparent;
  }

  .text {
    visibility: hidden;
    color: lighten($gray, 40%);
  }

  &.hover-active .text {
    visibility: visible;
  }
}

// Dots for before / after header
@media (min-width: 768px) {
  .dotted {
    display: inline-block;
    &:before {
      content: '';
      position: relative;
      top: 10px;
      width: 140px;
      height: 20px;
      display: inline-block;
      margin-right: 20px;
      background: image_url('title-decorations/dotted-line-titles-right.png') no-repeat;

      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      -ms-filter: "FlipH";
      filter: FlipH;
    }
    &:after {
      content: '';
      position: relative;
      top: 10px;
      width: 140px;
      height: 20px;
      display: inline-block;
      margin-left: 20px;
      background: image_url('title-decorations/dotted-line-titles-right.png') no-repeat;
    }
  }
}


/*************************************
OTHER (TODO remove these if possible)
*************************************/

.homepage-image {
  margin: 0 auto;
  margin-bottom: 40px;
}

@mixin transform($property) {
  -webkit-transform: rotate($property);
  -moz-transform: rotate($property);
  -ms-transform: rotate($property);
  -o-transform: rotate($property);
  transform: rotate($property);
}

.wiggle:hover {
  @include transform(7deg);
}

.food-page {
  .main-food-image {
    max-width: 100%;
  }

  .inline-header {
    font-size: 20px;
  }

  .teal {
    background-color: #4196b4;
    padding:  5px;
    color: white;
    text-align: center;
  }

  .food-resource-links a {
    font-size:  20px;
  }

  .boxed-content {
    border:  1px solid #dddddd;
    border-top: none;
    padding:  20px;
  }

  .food-videos {
    margin:  60px 0;
  }
}

.disclaimer {
  font-size: 9px;
  color:grey;
}
