.panel-no-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.align-top {
  vertical-align: top;
}

.nav-tight > li > a {
  margin: 0;
  padding: 0;
}

.nav-ho-hover > li > a:hover {
  background-color: transparent;
}

.homepage-image {
  margin: 0 auto;
  margin-bottom: 40px;
}

.home-food-links {

  span {
    height: 200px;
    margin-bottom: 30px;
    list-style: none;
    background-repeat: no-repeat;
    background-position: center;
  }

  .broccoli {
    background-image: image-url("homepage-images/broccoli1.jpg");
    &:hover {
      background-image: image-url("homepage-images/broccoli2.jpg");
    }
  }

  .cauliflower {
    background-image: image-url("homepage-images/cauliflower1.jpg");
    &:hover {
      background-image: image-url("homepage-images/cauliflower2.jpg");
    }
  }

  .carrot {
    background-image: image-url("homepage-images/carrot1.jpg");
    &:hover {
      background-image: image-url("homepage-images/carrot2.jpg");
    }
  }

  .cabbage {
    background-image: image-url("homepage-images/cabbage1.jpg");
    &:hover {
      background-image: image-url("homepage-images/cabbage2.jpg");
    }
  }

  .fennel {
    background-image: image-url("homepage-images/fennel1.jpg");
    &:hover {
      background-image: image-url("homepage-images/fennel2.png");
    }
  }

  .beet {
    background-image: image-url("homepage-images/beet1.jpg");
    &:hover {
      background-image: image-url("homepage-images/beet2.jpg");
    }
  }

  .pomegranate {
    background-image: image-url("homepage-images/pomegranate1.jpg");
    &:hover {
      background-image: image-url("homepage-images/pomegranate2.jpg");
    }
  }

  .sweetpotato {
    background-image: image-url("homepage-images/sweetpotato1.jpg");
    &:hover {
      background-image: image-url("homepage-images/sweetpotato2.jpg");
    }
  }

  .tangerine {
    background-image: image-url("homepage-images/tangerine1.jpg");
    &:hover {
      background-image: image-url("homepage-images/tangerine2.jpg");
    }
  }

  .wintersquash {
    background-image: image-url("homepage-images/wintersquash.jpg");
    &:hover {
      background-image: image-url("homepage-images/wintersquash2.jpg");
    }
  }
  
  .collard {
     background-image: image-url("homepage-images/collard1.jpg");
     &:hover {
       background-image: image-url("homepage-images/collard2.jpg");
     }
   }

  .apple {
    background-image: image-url("homepage-images/apple1.jpg");
    &:hover {
      background-image: image-url("homepage-images/apple2.jpg");
    }
  }
}

@mixin transform($property) {
  -webkit-transform: rotate($property);
  -moz-transform: rotate($property);
  -ms-transform: rotate($property);
  -o-transform: rotate($property);
  transform: rotate($property);
}

.food-page {
  nav {
    margin-bottom: 60px;

    a:hover {
      background-color: transparent;
    }

    img {
      margin:  0 auto;

      &:hover {
        @include transform(7deg);
      }
    }
  }

  .main-food-image {
    max-width: 100%;
  }

  .inline-header {
    font-size: 20px;
  }

  .teal {
    background-color: #278fd1;
    padding:  5px;
    color: white;
    text-align: center;
  }

  .food-description-box {
    position: relative;
    background-color: #278fd1;
    color:  white;
    border-radius: 5px;

    h1 {
      font-size: 40px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      padding: 12px;
      margin-top: 0;
    }
  }

  .food-resource-links a {
    font-size:  20px;
  }

  .boxed-content {
    border:  1px solid #dddddd;
    border-top: none;
    padding:  20px;
  }

  .food-videos {
    margin:  60px 0;
  }
}

.top-buffer {
  margin-top: 20px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

.spacer {
  margin-bottom: 80px;
}
