.home-food-links {

  li {
    width: 320px;
    height: 200px;
    margin-bottom: 30px;
    list-style: none;
  }

  .broccoli {
    background-image: image-url("homepage-images/broccoli1.jpg");
    &:hover {
      background-image: image-url("homepage-images/broccoli2.jpg");
    }
  }

  .cauliflower {
    background-image: image-url("homepage-images/cauliflower1.jpg");
    &:hover {
      background-image: image-url("homepage-images/cauliflower2.jpg");
    }
  }

  .carrot {
    background-image: image-url("homepage-images/carrot1.jpg");
    &:hover {
      background-image: image-url("homepage-images/carrot2.jpg");
    }
  }

  .cabbage {
    background-image: image-url("homepage-images/cabbage1.jpg");
    &:hover {
      background-image: image-url("homepage-images/cabbage2.jpg");
    }
  }

  .fennel {
    background-image: image-url("homepage-images/fennel1.jpg");
    &:hover {
      background-image: image-url("homepage-images/fennel2.png");
    }
  }

  .mushroom {
    background-image: image-url("homepage-images/mushroom1.jpg");
    &:hover {
      background-image: image-url("homepage-images/mushroom2.jpg");
    }
  }

  .beet {
    background-image: image-url("homepage-images/beet1.jpg");
    &:hover {
      background-image: image-url("homepage-images/beet2.jpg");
    }
  }

  .pomegranate {
    background-image: image-url("homepage-images/pomegranate1.jpg");
    &:hover {
      background-image: image-url("homepage-images/pomegranate2.jpg");
    }
  }

  .sweetpotato {
    background-image: image-url("homepage-images/sweetpotato1.jpg");
    &:hover {
      background-image: image-url("homepage-images/sweetpotato2.jpg");
    }
  }

  .tangerine {
    background-image: image-url("homepage-images/tangerine1.jpg");
    &:hover {
      background-image: image-url("homepage-images/tangerine2.jpg");
    }
  }

  .wintersquash {
    background-image: image-url("homepage-images/wintersquash.jpg");
    &:hover {
      background-image: image-url("homepage-images/wintersquash2.jpg");
    }
  }

  .apple {
    background-image: image-url("homepage-images/apple1.jpg");
    &:hover {
      background-image: image-url("homepage-images/apple2.jpg");
    }
  }
}

@mixin transform($property) {
  -webkit-transform: rotate($property);
  -moz-transform: rotate($property);
  -ms-transform: rotate($property);
  -o-transform: rotate($property);
  transform: rotate($property);
}

.food-page {
  nav {
    margin-bottom: 20px;

    img:hover {
      @include transform(30deg);
    }
  }
}
