$lightblue-color: #5cc9df;
$inputbox-light-color: #f7f7ff;
$inputbox-dark-color: #ffefd6;

$orange-light-color: #f3cd00;
$blue-dark-color: #297ccf;
$font-grey: #7a7c7f;

$buttongray: #E6E6E6;
$fontgray: #5e5e5e;
