<img class="centered" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/5c39e0dc88fe077d72ab22fe943ffd7b0d2f0b6b.png?1403815959" />
<h2>Welcome to the Joyful 12, <%= @user.first_name %>!</h2>

<p>I'm so happy you'll be joining me in the Joyful12 Learning Lab. We'll be cooking our way through winter, spring, summer, and fall with a total of 48 seasonal vegetables and fruits and 144 seasonal recipes.  Every Friday, look out for my email letting you know which vegetable and fruit is in season that we'll be exploring in the Learning Lab together the following week. </p>

<p> All you have to do is click the link below and you're in the classroom! (easy, right?) </p>

<p><strong><%= link_to "Go to classroom", 'https://www.joyful12.com/classroom' %></strong></p>

<p>I'm sure you're going to love the Joyful 12 so much, you'll want to spread some of that veggie love to your family and friends. The Joyful 12 is a great gift for a loved one. Feel great knowing that with each purchase, we give a free lifetime membership to a family in our Joyful 12 School Project!
</p>

<p>Just so you know: after the first time you've signed in, bookmark <a href="https://www.joyful12.com">joyful12.com</a>.</p>

<p><em>Yours in fun and tasty kitchen adventures,</em></p>
<p><em>Chef Hollie</em></p>

<p>Contact me anytime!</p>
<p>hollie@joyfoodly.com</p>

