<img class="centered" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/cea9d97d6022e57ec85af1168ba2b674b50cb20b.png?1394068446" />
<h2>Welcome to the Joyful 12, <%= @user.first_name %>!</h2>

<p>We are so excited to have you in our Beta of the Joyful 12!</p>

<p>We know you're anxious to know, so we'll get straight to the point: you'll be receiving your free "living veggie love"
  canvas bag within two weeks! </p>

<p>All you have to do is confirm your email in the
  link below, and then you're in! (easy, right?)</p>

<p>Confirm your account email by clicking on the link:</p>

<p><strong><%= link_to "Confirm my account, I'm ready to get started!", confirmation_url(@resource, confirmation_token: @token) %></strong></p>

Are you ready to get started? Welcome to the Joyful 12 community!

<p><em>Living veggie love, </em></p>
<p><em>Chef Hollie</em></p>