<img class="centered" src="http://d3uroln2zt6ogz.cloudfront.net/pages/media/original/5c39e0dc88fe077d72ab22fe943ffd7b0d2f0b6b.png?1403815959" />
<h2>Welcome to the Joyful 12, <%= @user.first_name %>!</h2>

<p>I’m so happy you’ll be joining me in the Joyful12 Learning Lab. We'll be cooking our way through summer, fall, winter
  and spring with a total of forty-eight seasonal vegetables and fruits. I can't wait to get started on our 12 Summer Vegetables and Fruits.</p>

<p>If you've signed up for the full year (yay!), you'll have access to the Spring and Summer classroom now, and when we
  release our Fall and Winter recipes during Fall 2014, you’ll be the first to have access! </p>

<p>All you have to do is click the link below, then set up your password, and you're in the classroom! (easy, right?)</p>

<p><strong><%= link_to "Confirm my account, I'm ready to get started!", confirmation_url(@resource, confirmation_token: @token) %></strong></p>

<p>I’m sure you’re going to love the Joyful 12 so much, you’ll want to spread some of that veggie love to your family and friends. The Joyful 12 is a great gift for a loved one.
</p>

<p>Just so you know: after the first time you've signed in, bookmark <a href="https://www.joyful12.com">joyful12.com</a>.</p>

<p><em>Yours in fun and tasty kitchen adventures,</em></p>
<p><em>Chef Hollie</em></p>

<p>Contact me anytime!</p>
<p>hollie@joyfoodly.com</p>
