<h2>Welcome to the Joyful 12, <%= @user.first_name %>!</h2>

<p>We are so excited to have you in our Beta of the Joyful 12! All you have to do is confirm your email in the
  link below, and then you're in! (easy, right?)</p>

<p>Confirm your account email by clicking on the link:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Living veggie love, </p>
<p>Chef Hollie</p>